.widget {
  width: 400px;
  height: 350px;
  background-color: #efefef;
  border: 2px solid #cddc39ff;
  overflow-y: auto;
}

.widget__menu {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.widget__menu__right {
  display: flex;
  align-items: center;
}

.widget__menu__left {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.widget__menu__right svg {
  color: #a9a9a9;
}

.widget__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.widget__content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #dcdcdc;
  margin: 1em 0;
  padding: 0;
}

.widget__content__add-tasks {
  color: #2964d1;
  padding: 9px 0;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.widget__content__add-tasks svg {
  font-size: 22px;
}

.widget__content__add-tasks span {
  padding-left: 9px;
}

.widget__content__task.done {
  color: #a9a9a9;
}
